.main {
    margin-top: 30px;
}

.NewQuestion {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}

label {
    margin-right: 10px;
}

textarea {
    width: 100%;
}

@media (min-width: 700px) {
    .NewQuestion {
        min-width: 700px;
    }
}