.FilterButtons {
    margin-top: 20px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}

button {
    border-radius: 5px;
    min-height: 50px;
    min-width: 100px;
    margin: 0px;
}