.intro {
    margin-top: 50px;
    font-size: 50px;
    display: none;
}

.Quiz {
    padding: 30px 40px;
    max-width: 650px;
    align-items: center;
}

.question-card {
    height: 200px;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

.write-answer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 15px 0;
}

.solution-button {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.solution-button:hover {
    background-color: gray;
}

.category {
    text-align: end;
    margin: 5px 20px;
    font-size: 13px;
}

.buttons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.FilterButtons-quiz {
    margin-top: 20px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}

button {
    border-radius: 5px;
    min-height: 50px;
    min-width: 100px;
    margin: 0px;
}


@media (min-width: 500px) {
    .question-card {
        max-width: 400px;
    }
}

@media (min-width: 1000px) {
    .intro {
        display: inline;
    }

    .Quiz {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        justify-content: space-around;
        padding: 30px 150px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        max-width: 150px;
        height: 150px;
        width: auto;
    }

    .FilterButtons-quiz {
        grid-template-columns: repeat(2, 1fr);
        max-width: 150px;
        height: 200px;
        width: auto;
    }

    .question-card {
        min-width: 550px;
    }
}