.intro {
    margin-top: 50px;
    font-size: 50px;
    display: none;
}

.Quiz {
    padding: 30px 40px;
    max-width: 650px;
    align-items: center;
}

.question-card {
    height: 250px;
    width: 100%;        
    margin-top: 60px;
    perspective: 1000px;
}

.question-card-inner {
    border: 2px solid;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
}

.question-card-front, .question-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 25px;
}

.question-card-front {
    background-color: white;
    color: black;
}
  

.question-card-back {
    background-color: pink;
    color: black;
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(180deg);
}
/* 
.box-space {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border: 1px saddlebrown solid;
}

.myBox {
    width: 100px;
    height: 100px;
    border: 2px solid;
    position: absolute;
    left: 90%;
    top: 150px;
    animation: moveFirst 5s linear .2s;
    animation-iteration-count: 1;
}

.clouds {
    
  }
  
  .initialCloud {
    position: absolute;
    left: 100%;
    top: 150px;
    animation: moveFirst 5s linear .2s;
    animation-iteration-count: 1;
    width: 150px;
  }
  
  .firstCloud {
    position: absolute;
    left: -30%;
    top: 150px;
    animation: move 5s linear 5s infinite;
    width: 150px;
  }
  
  .secondCloud {
    position: absolute;
    left: -30%;
    top: 200px;
    animation: move 8s linear 0s infinite;
    width: 150px;
  }
  
  .thirdCloud {
    top: 250px;
    left: -30%;
    position: absolute;
    animation: move 11s linear 1s infinite;
    width: 150px;
  }
  
  @-webkit-keyframes move {
    from {
      left: -30%;
    }
    to {
      left: 100%;
    }
  }
  
  @-webkit-keyframes moveFirst {
    from {
      left: 50%;
    }
    to {
      left: 100%;
    }
  } */


  .wrapper {
      width: 600px;
      border: 1px saddlebrown solid;
      height: 200px;
  }
  
  .clouds {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: gray;
  }
  
  .clouds, .cloud1 {
    left: 50px;
    animation: cloud1 20s linear 1;
  }
  
  .clouds, .cloud2 {
    left: -50px;
    animation: cloud1 20s 10s linear 1;
  }
  
  @keyframes cloud1 {
    0% {
      left: 20px;
    }
    100% {
      left: 3000px;
    }
  }
  
  @keyframes cloud2 {
    0% {
      left: -50px;
    }
    100% {
      left: 3000px;
    }
  }



.write-answer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 15px 0;
}

.solution-button {
    align-items: center;
    border-radius: 5px;
    padding: 10px;
}

.solution-button:hover {
    background-color: gray;
}

.category {
    text-align: end;
    margin: 5px 20px;
    font-size: 13px;
}

.buttons {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.FilterButtons-quiz {
    margin-top: 20px;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(30px, auto);
}

button {
    border-radius: 5px;
    min-height: 50px;
    min-width: 100px;
    margin: 0px;
}


@media (min-width: 500px) {
    .question-card {
        max-width: 400px;
    }
}

@media (min-width: 1000px) {
    .intro {
        display: inline;
    }

    .Quiz {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        min-width: 100%;
        justify-content: space-around;
        padding: 30px 150px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        max-width: 150px;
        height: 150px;
        width: auto;
    }

    .FilterButtons-quiz {
        grid-template-columns: repeat(2, 1fr);
        max-width: 150px;
        height: 200px;
        width: auto;
    }

    .question-card {
        min-width: 550px;
    }
}